<html ng-app="example">
   <head>
      <title>Rect-NG</title>
      <meta charset="UTF-8">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
      <style>
         body {
            font-family: "Helvetica Neue";
            padding: 10px;
         }
         .container {
          max-width: 800px;
          margin: auto;
         }
         .pull-right {
           float: right;
         }
         pre {
            background-color: #f4f4f4;
            border-radius: 3px;
            width: 100%;
            overflow-x: auto;
            padding: 10px;
         }
      </style>
   
      <script src="rect-ng.min.js"></script>
   
      <script>
         var app = angular.module("example", ['rectNG']);
         app.config(['$compileProvider', function ($compileProvider) {
           $compileProvider.debugInfoEnabled(false); // disable debug info
         }]);
         app.controller('MainCtrl', function($scope){
            var id = 0;
            $scope.musiciansData = [
               {id: ++id, name: "James", lname: "Brown", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Herbie", lname: "Hancock", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Miles", lname: "Davis", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Bill", lname: "Evans", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Wayne", lname: "Shorter", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Jaco", lname: "Pastorius", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "John", lname: "Scofield", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Joe", lname: "Henderson", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Jack", lname: "DeJohnette", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "John", lname: "Coltrane", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Pat", lname: "Metheny", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Dave", lname: "Holland", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Keith", lname: "Jarret", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Roger", lname: "Waters", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "David", lname: "Gilmour", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Syd", lname: "Barret", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Richard", lname: "Wright", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Nick", lname: "Mason", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Bob", lname: "Klose", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "John", lname: "Lennon", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Paul", lname: "McCartney", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "George", lname: "Harrisson", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Ringo", lname: "Starr", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Robert", lname: "Plant", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Jimmy", lname: "Page", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "John Paul", lname: "Jones", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "John", lname: "Bonham", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Kurt", lname: "Cobain", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Julian", lname: "Casablancas", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Jay", lname: "Kay", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Jimi", lname: "Hendrix", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Freddie", lname: "Mercury", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Cat", lname: "Stevens", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Xavier", lname: "Cugat", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Antonio Carlos", lname: "Jobim", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "João", lname: "Gilberto", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Sergio", lname: "Mendes", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Astrud", lname: "Gilberto", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Stan", lname: "Getz", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Pat", lname: "Martino", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Tito", lname: "Puente", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Quincy", lname: "Jones", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Henry", lname: "Mancini", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Aretha", lname: "Franklyn", email: "musician" + id + "@rect-ng.net", link: "#" + id},
               {id: ++id, name: "Donna", lname: "Summer", email: "musician" + id + "@rect-ng.net", link: "#" + id},
            ];

            $scope.producersData = [
              {name: "Bob", lname: "Clearmountain", genre: "Pop Rock", profile: "http://twitter.com/angularjs"},
              {name: "George", lname: "Martin", genre: "Pop", profile: "http://twitter.com/angularjs"},
              {name: "Rudy", lname: "Van Gelder", genre: "Jazz", profile: "http://twitter.com/angularjs"},
              {name: "Eddie", lname: "Kramer", genre: "Pop Rock", profile: "http://twitter.com/angularjs"},
              {name: "Chris Lord", lname: "Alge", genre: "Pop Rock", profile: "http://twitter.com/angularjs"},
              {name: "Joe", lname: "Chiccarelli", genre: "Pop", profile: "http://twitter.com/angularjs"},
              {name: "Jon", lname: "Gass", genre: "Pop", profile: "http://twitter.com/angularjs"},
              {name: "Don", lname: "Hahn", genre: "Orchestral", profile: "http://twitter.com/angularjs"},
              {name: "Andy", lname: "Johns", genre: "Pop Rock", profile: "http://twitter.com/angularjs"},
              {name: "Kevin", lname: "Killen", genre: "Pop", profile: "http://twitter.com/angularjs"},
              {name: "Bernie", lname: "Kirsh", genre: "Jazz", profile: "http://twitter.com/angularjs"},
              {name: "David", lname: "Pensado", genre: "Pop", profile: "http://twitter.com/angularjs"}];

            $scope.personColumns = [{id: "id", title: "ID", visible: false}, 
                            {id: "name", title: "Name"}, 
                            {id: "lname", title: "Last Name"}, 
                            {id: "email", title: "Email"}];

            $scope.producerColumns = [{id: "name", title: "Name"},
                               {id:"lname", title:"Last Name"},
                               {id:"genre", title:"Genre"}];
         });
         app.controller('EmbedCtrl1', function($scope){
           // Inherits $scope.musiciansData, $scope.producersData, $scope.personColumns and $scope.producerColumns
          
           $scope.musiciansData = angular.copy($scope.musiciansData);
           $scope.selectedMusicians = [];
        });

        app.controller('EmbedCtrl2', function($scope){
          
          $scope.producersData = angular.copy($scope.producersData);
          $scope.selectedProducers = [];
        });
        app.controller('EmbedCtrl3', function($scope){
          
          $scope.musiciansData = angular.copy($scope.musiciansData);
          $scope.selectedMusicians = [];

          $scope.selectAll = function (){
            $scope.$broadcast('rectngSelectAll');
          };
          $scope.selectNone = function (){
            $scope.$broadcast('rectngSelectNone');
          };
        });
        app.controller('EmbedCtrl4', function($scope){
          
          $scope.producersData = angular.copy($scope.producersData);
          $scope.selectedProducers = [];
        });
        app.controller('EmbedCtrl5', function($scope){
          
          $scope.musiciansData = angular.copy($scope.musiciansData);
          $scope.currentFilter = "";
        });
        app.controller('EmbedCtrl6', function($scope){

          $scope.producersData = angular.copy($scope.producersData);
          $scope.selectedProducers = [];
        });

      </script>
   </head>
   
   <body ng-controller="MainCtrl">
   
      <!-- EXAMPLE GRIDS -->
      <div class="container">

        <div ng-controller="EmbedCtrl1">
          <h2>Basic example</h2>
          <rectng columns="personColumns" data="musiciansData" height="'380px'"></rectng>
        </div>

        <div ng-controller="EmbedCtrl2">
          <h2>Selection example</h2>
          <rectng columns="producerColumns" data="producersData" selected-rows="selectedProducers" height="'380px'"></rectng>
          <h4>Selection:</h4>
          <pre>$scope.selectedProducers = {{selectedProducers}}</pre>
        </div>

        <div ng-controller="EmbedCtrl3">
          <h2>
            Code selection example
            <div class="pull-right">
              <button ng-click="selectAll()" class="btn btn-primary">Select All</button>
              <button ng-click="selectNone()" class="btn btn-primary">Select None</button>
            </div>
          </h2>
          <rectng columns="personColumns" data="musiciansData" selected-rows="selectedMusicians" height="'300px'"></rectng>
          <br/>
          <h4>Selection:</h4>
          <pre>$scope.selectedMusicians = {{selectedMusicians}}</pre>
        </div>

        <div ng-controller="EmbedCtrl4">
          <h2>Single selection example</h2>
          <rectng columns="producerColumns" data="producersData" selected-rows="selectedProducers" multiselect="false" height="'300px'"></rectng>
          <br/>
          <h4>Selection:</h4>
          <pre>$scope.selectedProducers = {{selectedProducers}}</pre>
        </div>

        <div ng-controller="EmbedCtrl5">
          <h2>
            Search example
            <label class="pull-right" style="font-size: 14px;">
              Search musicians: &nbsp;<input type="text" ng-model="currentFilter" style="font-weight: normal;"/>
            </label>
          </h2>
          <rectng columns="personColumns" data="musiciansData" height="'300px'" filter="currentFilter"></rectng>
        </div>

        <div ng-controller="EmbedCtrl6">
          <h2>Links example</h2>
          <rectng columns="producerColumns" data="producersData" selected-rows="selectedProducers" href-field="profile" height="'300px'"></rectng>
        </div>

      </div>
   
   </body>
</html>
